body {
  background: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  background-image: url("../img/header.jpg");
  padding: 0 0 320px;;
}

.header__menu-button {
  height: 50px;
  width: 50px;
  background: #f7654a;
  border: none;
  padding: 0;
}

.header__menu-button:hover {
  background: #f70a27;
}

.header__menu-button svg {
  fill: white;
  width: 21px;
  height: 18px;
}

.header__menu-button:hover svg {
  fill: gray;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header__navigation-page {
  display: none;
  position: absolute;
  right: 0;
  bottom: -36px;
  background:white;
}
.header__menu-button:hover + .header__navigation-page{
  display: block;
}
.header__navigation-page:hover {
  display: block;
}
.header__title {
  text-transform: uppercase;
  font-family: Oswald;
  font-size: 64px;
  font-weight: 500;
  line-height: 95px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 35px;
}
.header__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.container {
  max-width: 1010px;
  margin: 0 auto;
}
.age__list {
  display: flex;
  justify-content: space-between;
  background: #F7F7F7;
  padding: 57px 130px;
}
.age__item {
  width: 190px;
  text-align: center;
}
.age{
  margin: -80px 0 0 0;
}